/* General */
@font-face {
    font-family: font;
    src: url(../font/PT_Serif-Web-Regular.ttf);
}

body {
    font-family: font, serif;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
}


#c-1 {
    grid-row: 1/2;
}

#c-2 {
    grid-row: 2/3;
}


/* Boxes */

.continer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.continer .c-box {
    width: 200px;
    height: 250px;
    background-color: #fafafa;
    border-radius: 7px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: .17s;
}

.continer .c-box:hover {
    background-color: #303030;
    color: #FFF;
    transform: scale(1.1); 
}

.continer .c-box:hover .descrption {
    color: #FFF;
}

.continer .c-box:hover .title {
    background-color: #303030;
}

.continer .c-box .title {
    border-radius: 7px 7px 0 0;
    padding: 7px;
    text-align: center;
    background-color: #2E88C5; /* Basecamp color */
    color: #FFF;
    margin-bottom: 10px;
}

.continer .c-box .b-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continer .c-box .b-img img {
    width: 70%;
}

.continer .c-box .b-btn {
    padding: 7px 15px;
    border-radius: 7px;
    background-color: #2E88C5;
    width: fit-content;
    color: #FFF;
    font-size: 16px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    text-decoration-line: none;
    margin: 20px auto;
    transition: 0.17s;
}

.continer .c-box .b-btn:hover {
    transform: scale(1.1); 
    background-color: #34aee2;
}
#html {
}